name: Build and test SDK

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  common:
    uses: ./.github/workflows/common.yml
    secrets: inherit
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install build dependencies
        run: sudo apt-get install protobuf-compiler
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
      - name: Run clippy
        run: cargo clippy -- -D warnings
      - name: Generate code
        run: cargo run --bin cognite-codegen && cargo fmt --all
      - name: Verify generated code matches committed code
        run: |
          if [[ -n $(git status --porcelain) ]]; then
            echo "Workspace is not clean, it has not been formatted, or codegen is not up to date"
            git status --porcelain
            exit 1
          fi
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Test
        run: cargo llvm-cov --workspace --exclude cognite-codegen --features=integration_tests --codecov --output-path codecov.json --locked
        env:
          COGNITE_PROJECT: opcua-interface-test
          COGNITE_BASE_URL: https://greenfield.cognitedata.com
          COGNITE_TOKEN_URL: ${{ secrets.TOKEN_URL }}
          COGNITE_SCOPES: https://greenfield.cognitedata.com/.default
          COGNITE_CLIENT_ID: ${{ secrets.CLIENT_ID }}
          COGNITE_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          CORE_DM_TEST_SPACE: ${{ secrets.CORE_DM_TEST_SPACE }}

      - name: Upload coverage to codecov.io
        uses: codecov/codecov-action@v5
        with:
          files: codecov.json
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: cognitedata/cognite-sdk-rust
